/* ARTICLE EXPANDED*/
.ExpandedArticleContainer{
    width: 97.5vw;
    height: auto;
    min-height: 100vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  .ExpandedArticle {
    width: 96%;
    background-color: #000000;
    color: rgb(235, 235, 235);
    display: flex;
    flex-direction: column; 
    padding: 25px;
  }