.App {
  text-align: center;
}

body {
 width: 100%;
 margin: auto;
 overflow-x: hidden;
 background: rgb(0,0,0);
 background: -moz-linear-gradient(91deg, rgba(0,0,0,1) 0%, rgba(20,19,1,1) 100%);
 background: -webkit-linear-gradient(91deg, rgba(0,0,0,1) 0%, rgba(20,19,1,1) 100%);
 background: linear-gradient(91deg, rgba(0,0,0,1) 0%, rgba(20,19,1,1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#141301",GradientType=1);

 font-family: Roboto, sans-serif;
}
@font-face {
  font-family: 'Chango';
  src: local('Chango-Regular'), url('../public/titlefont/Chango-Regular.ttf') format('truetype');
  font-weight: normal; /* Estilo da fonte normal */
  font-style: normal; /* Estilo da fonte normal */
}

h1, h2 {
  font-family: 'Chango', sans-serif;
  line-height: 1.2s;
  margin-bottom: -10px; 
  font-size: 45px;
}

h3, h4, h5, h6 {
  line-height: 1.2s; /* Defina um valor menor para reduzir o espaçamento vertical entre as letras */
}
.fa {
  background-color: transparent;
  color: yellow;
  margin-left: 18px;
  border-radius: 2px;
  transition: background-color 0.6s, border-radius 0.1s, color 0.3s, border 0.4s;
}
.fa:hover{
  border-radius: 3px;
  color: rgb(34, 34, 30);
  background-color: yellow;
  border: 4px solid yellow;
}

.yellowbutton {
  background-color: yellow;
  color: black;
  border: none;
  padding: 5px 18px;
  cursor: pointer;
  transition: background-color 0.5s, border-color 0.3s, color 0.3s;
  z-index: 2;
}

.yellowbutton:hover {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

/* nave bar ---------------------------------------------------------------------------------------------------------------------- */
nav {
  margin: 0;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  z-index: 2;
}

a {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: font-size 0.5s;
}

a:hover {
  font-size: 18px;
}

/* HOME PAGE ----------------------------------------------------------------------------------------------------------------- */

.homePage {
  width: 100%;
  padding-top: 20px;
  color: rgb(220, 240, 71);
  display: flex;
  flex-direction: column;
  width: 100vw;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway-Regular'), url('../public/homefont/Raleway-VariableFont_wght.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal; 
}
.homePage h1, h2 {
  font-family: 'Raleway', sans-serif;
  margin-bottom: -10px; 
  font-size: 65px;
  letter-spacing: -2px;

}


.mainHome {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 20px;
  background-color: black;
  margin: 0;
}
.mainHome .hometext {
  margin-top: 29%;
  height: 400px;
  margin-right: 80px;
  width: 65%;
}

.homeLogo {
  width: 235px;
  height: 220px;
  margin-right: 18px;
  clip-path: circle(40% at 20% 20%);
  filter: blur(10px);
  transition: all 2s ease;
}
.homeLogo:hover {
  clip-path: circle(40%);
  filter: blur(0px);
  cursor: crosshair;
}

.hometext {
  width: 55%;
  height: 200px;
  margin-left: 25px;
}

.homeSliceOne{
  height: 100vh;
  width: 100vw;
  background-color: rgb(220, 240, 71);
  margin: 0;
  color:black;
}
.homeSliceOne .hometext {
  margin-top: 29%;
  height: 400px;
  width: 55%;
}

.homeSliceTwo{
  height: 100vh;
  width: 100vw;
  background-color: rgb(2, 2, 82);
  margin: 0;
  color: rgb(46, 232, 46);
}
.homeSliceTwo .hometext {
  margin-top: 15%;
  margin-left: 20%;
  height: 400px;
}

.homeSliceThree{
  height: 100vh;
  width: 100vw;
  background-color: rgb(209, 76, 107);
  margin: 0;
  color: rgb(2, 2, 82);
}
.homeSliceThree .hometext {
  margin-top: 13%;
}

.homeSliceFour{
  height: 100vh;
  width: 100vw;
  background-color: rgb(46, 232, 46);
  color: black;
  margin: 0;
}
.homeSliceFour .hometext {
  margin-top: 3%;
  margin-left: 40%;
  height: 400px;
}

.ContactArticles{
  height: 114vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}
.ContactArticles .hometext{
  width: 50%;
}

.buttonHomeContainer {
  width: 50%;
  width: 100vw;
}
.postContainerAndTitle{
  width: 50%;
  width: 100vw;
}


.hometext .yellowbutton {
  margin-left: 16px;
  justify-content: center;
}

.postsHome {
  margin-top: 35px;
  display: flex;
  width: 50%;
  min-height: 600px;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none; 
}
.postContainerAndTitle h1, h2 {
  font-size: 30px;
}

.postsHome::-webkit-scrollbar {
  width: 0.3rem; 
}

.postsHome::-webkit-scrollbar-thumb {
  background-color: yellow; 
  border-radius: 4px; 
}

.postsHome::-webkit-scrollbar-track {
  background-color: transparent; 
}

.post {
  min-width: 600px;
  height: auto;
  min-height: 400px;
  height: 600px;
  background-color: rgba(11, 11, 11, 0.749);
  margin: 1px;
  padding: 20px;
  transition: background-color 0.6s;
}

.postHeader .title {
  flex: 50%;
}
.postHeader .deletePost {
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.deletePost button {
  border: none;

  background: none;
  font-size: 30px;
  cursor: pointer;
}

.post .postTextContainer {
  word-wrap: break-word;
  height: auto;
  max-height: 400px;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
}

/* CREATE POST ------------------------------------------------------------------------------------------------------------- */

.createPostPage {
  width: 100%;
  height: calc(100vh - 80px);
  display: grid;
  place-items: center;
  color: white;
}

.cpContainer {
  width: 90%;
  height: auto;
  min-height: auto;
  padding: 20px;
  background-color: rgba(23, 21, 21, 0.758);
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  border-top: 1px;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px;
  border-style: solid;
  border-color: rgba(249, 248, 248, 0.353);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .cpContainer {
    width: 97%; 
    height: 80%;
  }
}
@media screen and (max-width: 500px) {
  .cpContainer {
    height: 88%;
    padding: 0px;
    align-self: self-start;
    margin-top: 15px;    
  }

  .cpContainer label {
    font-size: 20px;
    align-self: flex-start;
    margin-left: 10%;
    margin-top: 35px;
  }
}

.cpContainer h1 {
  margin: 5px;
  text-align: center;
  font-size: 25px;
}

.cpContainer label {
  font-size: 25px;
  align-self: flex-start;
  margin-left: 10%;
  padding-bottom: 20px;
}
.cpContainer .inputGp {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.inputGp input,
.inputGp textarea {
  font-size: 15px;
  border: none;
  border-radius: 2px;
  padding: 5px;
  width: 70rem;
}

#bposter {
  margin-top: 35px;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-left: 77%;
}

.imageColorContainer {
  display: block;
  height: 3rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.postImage {
  height: 25px;
  margin-right: 15px;
}
.postColor {
  height: 25px;
}

/* QUILL BAR FROM CREAT POST */

.quill-title {
  width: 95%;
  margin: 10px;
}

.quill-content {
  width: 95%;
  height: 18rem;
  margin: 10px;
}

.ql-toolbar {
  width: 100%;
  display: flex;
  flex-direction: row; 
  justify-content: flex-start; 
  align-items: center; 
  height: 2rem;
}

@media screen and (max-width: 912px) {
  .quill-title {
    width: 90%;
    margin: 10px;
    height: 2.2rem;
    margin: 35px;
  }
  .quill-content {
    width: 90%;
    height: 18rem;
    margin: 2px;
  }

  .ql-toolbar {
    width: 100%;
    display: block;
    flex-direction: row; 
    justify-content: flex-start; 
    align-items: center; 
    height: 2rem;
  }

  .yellowbutton {
    background-color: yellow;
    color: black;
    border: none;
    padding: 5px 12px;
    cursor: pointer;
    transition: background-color 0.5s, border-color 0.3s, color 0.3s;
  }
}

@media screen and (max-width: 500px) {
  .quill-title {
    width: 24rem;
    margin: 10px;
    height: 2.2rem;
    margin: 5px;
  }
  .quill-content {
    width: 24rem;
    height: 18rem;
    margin: 2px;
  }

  .ql-toolbar {
    width: 100%;
    display: block;
    flex-direction: row; 
    justify-content: flex-start; 
    align-items: center; 
    height: 2rem;
  }

  .yellowbutton {
    background-color: yellow;
    color: black;
    border: none;
    padding: 5px 12px;
    cursor: pointer;
    transition: background-color 0.5s, border-color 0.3s, color 0.3s;
  }
}

/* LOGIN PAGE ----------------------------------------------------------------------------------------------------------------- */

.loginPage {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.loginPage p {
  font-size: 30px;
}

/* GOOGLE BUTTOn */
.login-with-google-btn {
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 5px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  font-size: 20px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}
.login-with-google-btn:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}
.login-with-google-btn:active {
  background-color: #eeeeee;
}
.login-with-google-btn:focus {
  outline: none;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
    0 0 0 3px #c8dafc;
}
.login-with-google-btn:disabled {
  filter: grayscale(100%);
  background-color: #ebebeb;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}

/* CONTACT PAGE ------------------------------------------------------------------------------------------------------------------- */
/* ABOUT PAGE ------------------------------------------------------------------------------------------------------------------- */
/* PROJECT PAGE ------------------------------------------------------------------------------------------------------------------- */
/* ARTICLES PAGE*/
.ExpandedArticleContainer{
  width: 97.5vw;
  height: auto;
  min-height: 100vh;
  background-color: transparent;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.ExpandedArticle {
  width: 96%;
  background-color: #000000;
  color: rgb(235, 235, 235);
  display: flex;
  flex-direction: column; 
  padding: 25px;
}

/* WHITEBOX ---------------------------------------------------------------------------------------------------------------*/
.whiteBox {
  height: 22rem;
  width: 100%;
  background: white;
}
/* FOOTER --------------------------------------------------------------------------------------------------------------*/

footer {
  height: 12rem;
  width: 100%;
  margin: 0;
  border: 0;
  background: rgb(4,25,21);
  background: -moz-linear-gradient(91deg, rgba(4,25,21,1) 0%, rgba(2,10,33,1) 6%, rgba(18,3,31,0.9635503859747023) 19%, rgba(1,10,18,1) 88%, rgba(4,27,28,0.9607492655265231) 100%);
  background: -webkit-linear-gradient(91deg, rgba(4,25,21,1) 0%, rgba(2,10,33,1) 6%, rgba(18,3,31,0.9635503859747023) 19%, rgba(1,10,18,1) 88%, rgba(4,27,28,0.9607492655265231) 100%);
  background: linear-gradient(91deg, rgba(4,25,21,1) 0%, rgba(2,10,33,1) 6%, rgba(18,3,31,0.9635503859747023) 19%, rgba(1,10,18,1) 88%, rgba(4,27,28,0.9607492655265231) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#041915",endColorstr="#041b1c",GradientType=1);
}


/*---------------------------------------- ANIMATION ------------*/

/* Adicione uma classe para a animação */
.rotate-animation {
  animation: rotate 4s linear infinite; /* Ajuste a duração e o timing conforme necessário */
}

/* Defina a animação de rotação do disco*/
@keyframes rotate {
  from {
    transform: rotate(4deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*dice animation */
.startPlay {
  color: rgb(220, 240, 71);
  z-index: 1; 
}



.dice{
  width: 50%;
  height: 100%;
  top: 0;
  padding-top: 8%;
  padding-right: 35%;
  position: absolute;
  right: 0;
  overflow: hidden;
  color: rgb(246, 248, 249);
}
.dice-action div {
        position: absolute;
        width: 160px;
        height: 160px;
        border: 1px solid #f07808;
        background: transparent;
        text-align: center;
        font-size: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 20px 0px rgb(229, 230, 173);
        top: 75px;
}

.dice-action{
    animation-name: diceaction;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    transform-style: preserve-3d;
    transform-origin: 75px 75px 0;
    margin-left: calc(50% - 50px);
}

.face-1 {
  transform: translateZ(80px);
  
}
.face-2 {
  transform: rotateY(90deg) translateZ(80px);
 
}
.face-3 {
  transform: rotateY(90deg) rotateX(90deg) translateZ(80px);
  
}
.face-4 {
  transform: rotateY(180deg) rotateZ(90deg) translateZ(80px);
  
}
.face-5 {
  transform: rotateY(-90deg) rotateZ(90deg) translateZ(80px);
 
}
.face-6 {
  transform: rotateX(-90deg) translateZ(80px);
}

@keyframes diceaction {
  from,
to {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
16% {
  transform: rotateY(-90deg) rotateZ(90deg);
}
33% {
  transform: rotateY(-90deg) rotateX(90deg);
}
50% {
  transform: rotateY(-180deg) rotateZ(90deg);
}
66% {
  transform: rotateY(-270deg) rotateX(90deg);
}
83% {
  transform: rotateX(90deg);
}
}


.falling-animation {
  animation-name: fall;
  animation-duration: 2s; /* Duração da animação em segundos */
  animation-timing-function: ease-in-out; /* Tipo de animação (pode ajustar isso) */
  animation-fill-mode: forwards; /* Mantém a posição final da animação */
}

@keyframes fall {
  0% {
    top: 0;
  }
  100% {
    top: 70%; 
  }
}

/*--------------------------- IN CONSTRUCTION -------------------*/

.inConstruction {
  height: auto;
  width: 100vw;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.musicLoader {
  position: absolute;
  height: 60px;
  width: 180px;
  background-color: transparent;
  margin-top: 14%;
  margin-left: 25px;
}

.musicLoader video {
  height: 60px;
  width: 180px;
}